{% import "bootstrap/utils.html" as utils %}
{% extends "bootstrap/base.html" %}

{% block title %}POISM - Points of Interest Editor{% endblock %}

{% block styles %}
{{ super() }}
<style type="text/css">
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
</style>
{% endblock %}

{% block navbar %}
{{ super() }}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">POISM</a>
      {% if session.get('user_name') %}
      <form class="navbar-form navbar-right" role="logout" action="{{ url_for('logout') }}">
        <button type="submit" class="btn btn-default">Logout</button>
      </form>
      <p class="navbar-text navbar-right">{{ session.get('user_name') }}</p>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="container">
{{ super() }}
{% block container %}{% endblock %}
</div>
{% endblock %}
