{% extends "_template.html" %}

{% block title %}{{ super() }} - Add New{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha384-eS4bw6aEvhCSXWGP85ANR/N8isWKzT7P36NvcuTJGkrj6wsbxLVpXslrNXYHyseD"
    crossorigin=""/>
<style>
    .twitter-typeahead,
    .tt-hint,
    .tt-input,
    .tt-menu {
        width: 100%;
    }

    .tt-query,
    .tt-hint {
        outline: none;
    }

    .tt-query {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999;
    }

    .tt-menu {
        width: 100%;
        margin-top: 12px;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .tt-suggestion {
        padding: 3px 20px;
    }

    .tt-suggestion.tt-is-under-cursor {
        color: #fff;
    }

    .tt-suggestion p {
        margin: 0;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha384-wKOriz2x8/bF1D9t6PuKhSpxfhHeVi9huvyuxJrrShSJpi5+rmRIsM90UuWbdAYJ"
    crossorigin=""></script>
<script src="https://unpkg.com/corejs-typeahead@1.3.0/dist/typeahead.bundle.js"
    integrity="sha384-+sfLKph2cfn8L+mhfmOMpYHAHi6s6Uzt7cEs7kkV9l0NJRgPteAqKhnvsTnOceV6"
    crossorigin=""></script>
<script type="text/javascript">
let params = new URLSearchParams(location.search);
var map;
var marker;
var gpsCircle;

$(document).ready(function() {
    map = new L.Map('map');

    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = 'Map data © <a href="https://www.openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {
        minZoom: 8,
        maxZoom: 19,
        attribution: osmAttrib
    }).addTo(map);

    var mbUrl = 'https://{s}.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=pk.eyJ1Ijoib3BlbnN0cmVldG1hcCIsImEiOiJjaml5MjVyb3MwMWV0M3hxYmUzdGdwbzE4In0.q548FjhsSJzvXsGlPsFxAQ';
    var mbSat = new L.TileLayer(mbUrl, {
        minZoom: 8,
        maxZoom: 22,
        attribution: 'Imagery © <a href="http://www.mapbox.com/about/maps/">Mapbox</a>'
    });

    var baseMaps = {
        "OSM": osm,
        "Satellite": mbSat,
    }
    L.control.layers(baseMaps).addTo(map);

    var pt = L.latLng(params.get('lat'), params.get('lon'));
    map.setView(pt, 17);

    marker = L.marker(pt, {draggable: true, riseOnHover: true}).addTo(map);
    marker.on('moveend', function(e) {
        var ll = marker.getLatLng();
        console.log("Moved marker to " + ll.lat.toFixed(6) + "," + ll.lng.toFixed(6));
        $('#lat-form').val(ll.lat.toFixed(7));
        $('#lon-form').val(ll.lng.toFixed(7));
    });

    map.locate({enableHighAccuracy: true, watch: true, maxZoom: 18});
    map.on('locationfound', function(e) {
        var radius = e.accuracy / 2;
        if (!gpsCircle) {
            gpsCircle = L.circle(e.latlng, radius).addTo(map);
        } else {
            gpsCircle.setLatLng(e.latlng);
        }
    });

    var presetSearcher = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace("terms"),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        identify: function(o) {
            return o.id;
        },
        prefetch: {
            url: "{{ url_for('presets_json') }}",
            cache: false,
            prepare: function(settings) {
                console.log("prepare", settings);
                return settings;
            },
            transform: function(data) {
                console.log("transform");
                return data.results;
            },
        },
    });

    $("#presetchoice").typeahead({
        hint: true,
        highlight: true,
        minLength: 2,
    }, {
        name: 'presets',
        source: presetSearcher,
        async: false,
        display: function(item) {
            return item.text;
        },
        templates: {
            suggestion: function(item) {
                return '<div>'+ item.text +'</div>';
            },
            pending: function (query) {
                return '<div>Loading...</div>';
            },
        },
    });

    $("#presetchoice").bind("typeahead:select", function(ev, suggestion) {
        $("#preset-form").val(suggestion.id);
        console.log("Selected preset " + suggestion.id);
    });
});
</script>
{% endblock %}

{% block content %}
{{super()}}

<p><a href="{{ url_for('nearby', lat=request.args.get('lat'), lon=request.args.get('lon')) }}">← Back to nearby places</a></p>

<div id="map" class="col-xs-12" style="height: 380px; margin-bottom: 20px;"></div>

<form method="get">
    <input type="hidden" name="lat" id="lat-form" />
    <input type="hidden" name="lon" id="lon-form" />
    <input type="hidden" name="preset" id="preset-form" />

    <legend>Category</legend>
    <div class="row">
        <div class="form-group col-xs-12">
            <input id="presetchoice" class="form-control" type="text" autocomplete="off" placeholder="Choose a category..." />
        </div>
    </div>

    <button type="submit" class="btn btn-default">Pick This Category</button>
</form>
{% endblock %}
