{% extends "_template.html" %}

{% block title %}{{ super() }} - Add New{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
let params = new URLSearchParams(location.search);
var map;
var marker;
var gpsCircle;

$(document).ready(function() {
    map = new L.Map('map');

    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib = 'Map data © <a href="https://www.openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {
        minZoom: 8,
        maxZoom: 19,
        attribution: osmAttrib
    }).addTo(map);

    var mbUrl = 'https://{s}.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=pk.eyJ1Ijoib3BlbnN0cmVldG1hcCIsImEiOiJja2w5YWt5bnYwNjZmMnFwZjhtbHk1MnA1In0.eq2aumBK6JuRoIuBMm6Gew';
    var mbSat = new L.TileLayer(mbUrl, {
        minZoom: 8,
        maxZoom: 22,
        attribution: 'Imagery © <a href="http://www.mapbox.com/about/maps/">Mapbox</a>'
    });

    var baseMaps = {
        "OSM": osm,
        "Satellite": mbSat,
    }
    L.control.layers(baseMaps).addTo(map);

    function updateMarkerLocation(pt) {
        $('#lat-form').val(pt.lat.toFixed(7));
        $('#lon-form').val(pt.lng.toFixed(7));
        console.log("Moved marker to " + pt.lat.toFixed(6) + "," + pt.lng.toFixed(6));
    }

    var pt = L.latLng(params.get('lat'), params.get('lon'));
    updateMarkerLocation(pt);
    map.setView(pt, 17);

    marker = L.marker(pt, {draggable: true, riseOnHover: true}).addTo(map);
    marker.on('moveend', function(e) {
        updateMarkerLocation(marker.getLatLng());
    });

    map.locate({enableHighAccuracy: true, watch: true, maxZoom: 18});
    map.on('locationfound', function(e) {
        var radius = e.accuracy / 2;
        if (!gpsCircle) {
            gpsCircle = L.circle(e.latlng, radius).addTo(map);
        } else {
            gpsCircle.setLatLng(e.latlng);
        }
    });

    var presetSearcher = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace("terms"),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        identify: function(o) {
            return o.id;
        },
        prefetch: {
            url: "{{ url_for('presets_json') }}",
            cache: false,
            prepare: function(settings) {
                console.log("prepare", settings);
                return settings;
            },
            transform: function(data) {
                console.log("transform");
                return data.results;
            },
        },
    });

    $("#presetchoice").typeahead({
        hint: true,
        highlight: true,
        minLength: 2,
    }, {
        name: 'presets',
        source: presetSearcher,
        async: false,
        limit: 15,
        display: function(item) {
            return item.text;
        },
        templates: {
            suggestion: function(item) {
                return '<div>'+ item.text +'</div>';
            },
            pending: function (query) {
                return '<div>Loading...</div>';
            },
        },
    });

    $("#presetchoice").bind("typeahead:select", function(ev, suggestion) {
        $("#preset-form").val(suggestion.id);
        console.log("Selected preset " + suggestion.id);
    });
});
</script>
{% endblock %}

{% block content %}
{{super()}}

<p><a href="{{ url_for('nearby', lat=request.args.get('lat'), lon=request.args.get('lon')) }}">← Back to nearby places</a></p>

<div id="map" class="col-xs-12" style="height: 380px; margin-bottom: 20px;"></div>

<form method="get">
    <input type="hidden" name="lat" id="lat-form" />
    <input type="hidden" name="lon" id="lon-form" />
    <input type="hidden" name="preset" id="preset-form" />

    <legend>Category</legend>
    <div class="row">
        <div class="form-group col-xs-12">
            <input id="presetchoice" class="form-control" type="text" autocomplete="off" placeholder="Choose a category..." />
        </div>
    </div>

    <button type="submit" class="btn btn-default">Pick This Category</button>
</form>
{% endblock %}
