{% extends "_template.html" %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var tags_elem, empty_elem;
    document.addEventListener("DOMContentLoaded", function(){
        empty_elem = document.getElementById('empty-row').cloneNode(true);
        tags_elem = document.getElementById('tags');
    });

    function addRow() {
        var new_row_elem = empty_elem.cloneNode(true);
        new_row_elem.removeAttribute('id');
        tags_elem.appendChild(new_row_elem);
        return false;
    }
</script>
{% endblock %}

{% block container %}
{{super()}}

<form method="post">
    <input type="hidden" name="version" value="{{ obj['version'] }}"/>
    <div id="tags">
        {% for k, v in obj['tags'].items() %}
        <div class="row">
            <div class="col-xs-6">
                <input type="text" class="form-control" name="keys" value="{{ k }}">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" name="values" value="{{ v }}">
            </div>
        </div>
        {% endfor %}
        <div class="row" id="empty-row">
            <div class="col-xs-6">
                <input type="text" class="form-control" name="keys" placeholder="Key">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" name="values" placeholder="Value">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
    <a class="btn btn-default" onclick="return addRow()">+ Row</button>
</form>

{% endblock %}
