{% extends "_template.html" %}

{% block title %}{{ super() }} - Edit {{ obj.get('tags', {}).get('name') or 'A Place' }}{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var map;
    var gpsCircle;

    $(document).ready(function() {
        map = new L.Map('map');

        var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = 'Map data © <a href="https://www.openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {
            minZoom: 8,
            maxZoom: 19,
            attribution: osmAttrib
        }).addTo(map);

        var mbUrl = 'https://{s}.tiles.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg?access_token=pk.eyJ1Ijoib3BlbnN0cmVldG1hcCIsImEiOiJja2w5YWt5bnYwNjZmMnFwZjhtbHk1MnA1In0.eq2aumBK6JuRoIuBMm6Gew';
        var mbSat = new L.TileLayer(mbUrl, {
            minZoom: 8,
            maxZoom: 22,
            attribution: 'Imagery © <a href="http://www.mapbox.com/about/maps/">Mapbox</a>'
        });

        var baseMaps = {
            "OSM": osm,
            "Satellite": mbSat,
        }
        L.control.layers(baseMaps).addTo(map);

        {%- if creating_new_place %}
        var requestedLatLon = new L.LatLng({{ request.args.lat|float }}, {{ request.args.lon|float }});
        var placeLayer = new L.Marker(requestedLatLon);
        placeLayer.addTo(map);
        map.setView(requestedLatLon, 19);
        {%- else %}
        var geojsonLayer = new L.GeoJSON.AJAX("{{ url_for('object_as_geojson', obj_type=obj['type'], obj_id=obj['id']) }}");
        geojsonLayer.on('data:loaded', function(e) {
            geojsonLayer.addTo(map);
            map.fitBounds(geojsonLayer.getBounds());
        });
        {%- endif %}

        $("#pick_new_preset").on('click', function(e) {
            var presetSearcher = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace("terms"),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                identify: function(o) {
                    return o.id;
                },
                prefetch: {
                    url: "{{ url_for('presets_json') }}",
                    cache: false,
                    prepare: function(settings) {
                        console.log("prepare", settings);
                        return settings;
                    },
                    transform: function(data) {
                        console.log("transform");
                        return data.results;
                    },
                },
            });

            $("#new_preset_typeahead").typeahead({
                hint: true,
                highlight: true,
                minLength: 2,
            }, {
                name: 'presets',
                source: presetSearcher,
                async: false,
                display: function(item) {
                    return item.text;
                },
                templates: {
                    suggestion: function(item) {
                        return '<div>'+ item.text +'</div>';
                    },
                    pending: function (query) {
                        return '<div>Loading...</div>';
                    },
                },
            });

            $("#new_preset_typeahead").bind("typeahead:select", function(ev, suggestion) {
                $("#new_preset").val(suggestion.id);
                console.log("Selected preset " + suggestion.id);
            });

            $("#new_category").show()
        });

        map.locate({enableHighAccuracy: true, watch: true, maxZoom: 18});
        map.on('locationfound', function(e) {
            var radius = e.accuracy / 2;
            if (!gpsCircle) {
                gpsCircle = L.circle(e.latlng, radius).addTo(map);
            } else {
                gpsCircle.setLatLng(e.latlng);
                gpsCircle.setRadius(radius);
            }
        });
    });
</script>
{% endblock %}

{% block content %}
{{super()}}

{%- with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<span class="list-group-item list-group-item-danger">{{ message }}</span>
{% endfor %}
{% endif %}
{%- endwith %}

<p><a href="{{ url_for('nearby', lat=request.args.get('lat'), lon=request.args.get('lon')) }}">← Back to nearby places</a></p>

<div id="map" class="col-xs-12" style="height: 380px; margin-bottom: 20px;"></div>

<h3>
    {% if preset.imageURL %}
    <img width="40" src="{{ preset.imageURL }}"/>
    {% elif preset.icon.startswith('maki-') %}
    <img width="40" src="https://cdn.jsdelivr.net/gh/mapbox/maki/icons/{{ preset.icon[5:] }}-15.svg"/>
    {% elif preset.icon.startswith('fas-') %}
    <img width="40" src="https://cdn.jsdelivr.net/gh/openstreetmap/iD@master/svg/fontawesome/{{ preset.icon }}.svg"/>
    {% elif preset.icon.startswith('temaki-') %}
    <img width="40" src="https://cdn.jsdelivr.net/gh/bhousel/temaki/icons/{{ preset.icon[7:] }}.svg"/>
    {% endif %}

    {%- if old_preset %}
    <strike>{{ old_preset.name }}</strike>
    {{ preset.name }}
    <small><a href="{{ request.base_url }}">(Undo Category Change)</a></small>
    {%- else %}
    {{ preset.name }}
    <button id="pick_new_preset" class="btn btn-default btn-sm" value="Pick New Preset">Change Category</button>
    {%- endif %}
</h3>

<div class="well" id="new_category" style="display: none;">
    <form method="get">
        <input type="hidden" name="new_preset" id="new_preset" />
        <div class="form-group">
            <input type="text" id="new_preset_typeahead" class="form-control"/>
        </div>
        <input type="submit" value="Pick New Preset" class="btn btn-default"/>
    </form>
</div>

<form method="post">
    {{ form.hidden_tag() }}

    {% if 'name' in preset.fields %}
    <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_="form-control") }}
    </div>
    {% endif %}

    {% if 'phone' in preset.fields %}
    <div class="form-group">
        <label for="name">Phone</label>
        {{ form.phone(type="tel", class_="form-control") }}
    </div>
    {% endif %}

    {% if 'website' in preset.fields %}
    <div class="form-group">
        <label for="name">Website</label>
        {{ form.website(type="url", class_="form-control") }}
    </div>
    {% endif %}

    {% if 'address' in preset.fields %}
    <legend>Address Details</legend>

    <div class="row">
        <div class="form-group col-xs-3">
            <label for="addr_housenumber">Housenumber</label>
            {{ form.addr_housenumber(class_="form-control") }}
        </div>
        <div class="form-group col-xs-9">
            <label for="addr_street">Street</label>
            {{ form.addr_street(class_="form-control") }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-6">
            <label for="addr_city">City</label>
            {{ form.addr_city(class_="form-control") }}
        </div>
        <div class="form-group col-xs-3">
            <label for="addr_state">State</label>
            {{ form.addr_state(class_="form-control") }}
        </div>
        <div class="form-group col-xs-3">
            <label for="addr_postcode">Zipcode</label>
            {{ form.addr_postcode(class_="form-control") }}
        </div>
    </div>
    {% endif %}

    {% if 'opening_hours' in preset.fields %}
    <legend>Opening Hours</legend>

    <div class="row">
        <div class="form-group col-xs-12">
            {{ form.opening_hours_complex(class_="form-control") }}
        </div>
    </div>
    {% endif %}

    {{ form.submit(class_="btn btn-default") }}
</form>

{% endblock %}
